.mb-1 {
	margin-bottom: $unit*1;
}

.mb-2 {
	margin-bottom: $unit*2;
}

.mb-3 {
	margin-bottom: $unit*3;
}

.mb-6 {
	margin-bottom: $unit*6;
}

.mb-10 {
	margin-bottom: $unit*10;
}

.w100 {
	width: 100%;
}