$unit: 8px;

$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

$primary: #AA0601;
$secondary: #FFFFFF;

$text-primary: #650300;
$text-secondary: #FFFFFF;
$text-red: #AA0601;
$text-black: #000;
$text-gray: #707070;