@import './reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

@import './variable.scss';

@import './utils.scss';

@import './base.scss';

@import './layout.scss';

@import './index.scss';