@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-10 {
  margin-bottom: 80px; }

.w100 {
  width: 100%; }

body {
  font-family: Roboto, 'Noto Sans TC', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto; }

header {
  background: #AA0601;
  color: #fff;
  font-size: 20px; }
  header a {
    text-decoration: none;
    color: #fff; }
    header a:hover {
      opacity: 0.5; }
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header nav ul {
      margin: 25px 0; }
      header nav ul li {
        margin-left: 64px; }
  header .logo {
    max-width: 80px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 767px) {
  header .container {
    padding: 0; }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    header nav .logo {
      margin: 12px 0; }
  .headerNavbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    width: 100%; }
    .headerNavbar li {
      width: 50%;
      border: 1px solid #fff;
      font-size: 16px;
      margin-left: 0; }
      .headerNavbar li a {
        padding: 12px 0;
        display: block;
        text-align: center; } }

footer {
  background: #AA0601;
  color: #fff;
  font-size: 16px;
  padding-top: 48px;
  padding-bottom: 32px; }
  footer a {
    text-decoration: none;
    color: #fff; }
    footer a:hover {
      opacity: 0.5; }

.info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 24px; }

.info-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .info-list .navbar {
    margin-bottom: 24px; }
    .info-list .navbar li:not(:last-child) {
      margin-right: 48px; }
  .info-list .address {
    font-size: 36px; }
    .info-list .address li {
      margin-bottom: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 16px; }
    .info-list .address span {
      font-size: 48px; }

.sc-icons a {
  margin-left: 32px; }

.sc-icons img {
  max-width: 48px;
  max-height: 48px; }

.legal {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px; }
  .legal .copyright {
    font-family: 'Roboto'; }

.legal-link a {
  margin-left: 32px; }

@media (max-width: 992px) {
  .sc-icons a {
    margin-left: 16px; }
  .sc-icons img {
    max-width: 40px;
    max-height: 40px; }
  .legal-link {
    font-size: 14px; } }

@media (max-width: 767px) {
  .container {
    margin: 0; }
  footer {
    padding-top: 24px;
    padding-bottom: 24px; }
    footer .navbar {
      display: none; }
  .info-list .address {
    font-size: 16px; }
    .info-list .address span {
      font-size: 24px; }
  .sc-icons a {
    margin-left: 8px; }
  .sc-icons img {
    max-width: 24px;
    max-height: 24px; }
  .legal {
    margin-top: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .legal .copyright {
      width: 100%;
      margin-bottom: 8px; }
    .legal .legal-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .legal .legal-link a {
        width: 100%;
        margin-left: 0;
        margin-bottom: 8px; } }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  height: 787px;
  background-position: center center;
  color: #650300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .banner button {
    color: #FFFFFF;
    background-color: #AA0601;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 12px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .banner button:hover {
      background-color: #650300;
      cursor: pointer; }

.banner-content {
  text-align: right; }

h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 4px; }

h2 {
  font-size: 48px;
  font-weight: 700;
  color: #650300; }

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #650300; }

h4 {
  font-size: 36px; }

.service {
  background: #FBF2F2;
  text-align: center; }

.service-content {
  padding-top: 80px;
  padding-bottom: 80px; }

.service-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .service-list li {
    width: 23%; }
  .service-list img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 16px; }
  .service-list h3 {
    margin-bottom: 8px; }
  .service-list p {
    text-align: left;
    font-size: 16px; }

.classic {
  text-align: center; }

.classic-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .classic-list li {
    width: 32%; }
  .classic-list h2 {
    font-size: 48px; }
  .classic-list h3 {
    font-size: 48px;
    color: #AA0601;
    font-weight: 700;
    font-style: italic; }
  .classic-list img {
    width: 100%;
    margin-bottom: 8px; }

.collaboration {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  height: auto;
  background-position: center center;
  text-align: center; }
  .collaboration h2 {
    color: #FFFFFF; }
  .collaboration li {
    background: #FFFFFF; }
    .collaboration li:not(:last-child) {
      border-right: 1px solid #707070; }
  .collaboration h3 {
    color: #AA0601;
    font-size: 48px;
    font-style: italic;
    font-weight: 900; }

.collabo-content {
  padding-top: 80px;
  padding-bottom: 80px; }

.collabo-list .d-none {
  display: none; }

.comments-content h2 {
  text-align: center; }

.comments {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.card {
  border: 1px solid #DEE2E6;
  border-radius: 1.5%;
  width: 23.6%;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }

.card-content {
  height: 205px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px; }
  .card-content span {
    font-size: 14px;
    color: #707070; }

.card-info {
  font-size: 16px; }
  .card-info .username {
    font-weight: 500; }

.contact-us {
  background: #FBF2F2;
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 16px; }

.contact-content {
  max-width: 636px; }
  .contact-content h2 {
    text-align: center; }
  .contact-content p {
    font-size: 20px; }
  .contact-content label {
    display: inline-block;
    cursor: pointer; }
  .contact-content input, .contact-content textarea {
    background: #FBF2F2;
    resize: none;
    border: 1px solid #000;
    padding: 6px 12px; }
  .contact-content .agree-policy {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contact-content .checkbox {
    margin-right: 4px; }
  .contact-content .submit-btn {
    background-color: #AA0601;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    padding: 12px 0;
    max-width: 416px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .contact-content .submit-btn:hover {
      background-color: #650300;
      cursor: pointer; }

.btn-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (max-width: 992px) {
  .banner {
    background-image: url(../images/home-header-sm.png); }
  .service-list li {
    width: 48%; }
  .classic-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .classic-list li {
      width: 100%; }
      .classic-list li:not(:last-child) {
        margin-bottom: 24px; }
    .classic-list img {
      width: 336px; }
  .collaboration {
    background-image: url(../images/index-bg-sm.png); }
    .collaboration li:not(:last-child) {
      border-right: none; }
  .collabo-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .collabo-list li {
      width: 100%; }
      .collabo-list li:not(:last-child) {
        margin-bottom: 24px; }
  .card {
    width: 48%;
    margin-bottom: 24px; }
  .recommend {
    margin-bottom: 56px; }
  .contact-content p {
    font-size: 16px; }
  .contact-content .submit-btn {
    max-width: 336px; } }

@media (max-width: 767px) {
  .banner {
    height: 396px; }
  h1 {
    font-size: 24px;
    margin-bottom: 8px; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 24px; }
  h4 {
    font-size: 16px; }
  .service {
    margin-bottom: 40px; }
  .service-content {
    padding-top: 40px;
    padding-bottom: 40px; }
    .service-content p {
      font-size: 16px; }
  .service-list li {
    width: 100%;
    margin-bottom: 24px; }
  .classic {
    margin-bottom: 40px; }
  .collaboration {
    background-image: url(../images/index-bg-md.png);
    margin-bottom: 40px; }
    .collaboration h2 {
      margin-bottom: 24px; }
  .collabo-content {
    padding-top: 40px;
    padding-bottom: 40px; }
  .collabo-list li {
    max-width: 100%; }
  .collabo-list img {
    display: none; }
  .collabo-list .d-none {
    display: inline; }
  .comments-content h2 {
    margin-bottom: 24px; }
  .card {
    width: 100%;
    margin-bottom: 16px; }
  .recommend {
    margin-bottom: 24px; }
  .contact-content .submit-btn {
    max-width: 348px; } }

/*# sourceMappingURL=all.css.map */
