@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: middle; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Noto Sans TC', 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.container {
  max-width: 1296px;
  padding: 0 12px;
  margin: 0 auto; }

header {
  background: #AA0601;
  color: #fff;
  font-size: 20px; }
  header a {
    text-decoration: none;
    color: #fff; }
    header a:hover {
      opacity: 0.5; }
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header nav ul {
      margin: 25px 0; }
      header nav ul li {
        margin-left: 64px; }
  header .logo {
    max-width: 80px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (max-width: 767px) {
  header .container {
    padding: 0; }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    header nav .logo {
      margin: 12px 0; }
    header nav ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0;
      width: 100%; }
      header nav ul li {
        width: 50%;
        border: 1px solid #fff;
        font-size: 16px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin-left: 0; }
        header nav ul li a {
          padding: 12px 0;
          display: block;
          text-align: center; } }

footer {
  background: #AA0601;
  color: #fff;
  font-size: 16px;
  padding-top: 48px;
  padding-bottom: 32px; }
  footer a {
    text-decoration: none;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    footer a:hover {
      opacity: 0.5; }

.info {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 24px; }

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contact .navbar {
    margin-bottom: 24px; }
    .contact .navbar li {
      margin-right: 48px; }
  .contact .address {
    font-size: 36px; }
    .contact .address li {
      margin-bottom: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 16px; }
    .contact .address span {
      font-size: 48px; }

.sc-icons a {
  margin-left: 32px; }

.sc-icons img {
  max-width: 48px;
  max-height: 48px; }

.legal {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px; }
  .legal .copyright {
    font-family: 'Roboto'; }

.legal-link a {
  margin-left: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (max-width: 992px) {
  .container {
    margin: 0 24px; }
  .sc-icons a {
    margin-left: 16px; }
  .sc-icons img {
    max-width: 40px;
    max-height: 40px; }
  .legal-link {
    font-size: 14px; } }

@media (max-width: 767px) {
  .container {
    margin: 0; }
  footer {
    padding-bottom: 24px; }
    footer .navbar {
      display: none; }
  .contact .address {
    font-size: 16px; }
    .contact .address span {
      font-size: 24px; }
  .sc-icons a {
    margin-left: 8px; }
  .sc-icons img {
    max-width: 24px;
    max-height: 24px; }
  .legal {
    margin-top: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .legal .copyright {
      width: 100%;
      margin-bottom: 8px; }
    .legal .legal-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .legal .legal-link a {
        width: 100%;
        margin-left: 0;
        margin-bottom: 8px; } }

/*# sourceMappingURL=all.css.map */
